<a href="https://colab.research.google.com/github/FabioCarlesso/ds-study-codes/blob/main/Codes/pos/BankNormalizacao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd
from collections import Counter
from sklearn import preprocessing
from pickle import dump

dados = pd.read_csv('/content/bank.csv', sep=';')

def identificarColunasCategoricas(dados):
    colunas_categoricas = []
    colunas_numericas = []
    cont_col = 0
    for coluns in dados.columns:
        if isinstance(dados.iloc[0, cont_col], str):
            colunas_categoricas.append(coluns)
        else:
            colunas_numericas.append(coluns)
        cont_col+=1

    return colunas_categoricas, colunas_numericas

col_cat, col_nun = identificarColunasCategoricas(dados)
col_cat

['job',
 'marital',
 'education',
 'default',
 'housing',
 'loan',
 'contact',
 'month',
 'poutcome',
 'y']

In [20]:
col_nun

['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous']

In [21]:
# Selecionar colunas categoricas e aplicar o get_dummies para criar as colunas
dados_categorias = dados[col_cat]
cont_job = Counter(dados_categorias)

dados_categorias_norm = pd.get_dummies(dados_categorias, prefix=dados_categorias.columns)
dados_categorias_norm

,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,...,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown,y_no,y_yes
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,1,0
1,0,0,0,0,0,0,0,1,0,0,...,1,0,0,0,1,0,0,0,1,0
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
4,0,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,1,0
4517,0,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,1,1,0
4518,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,1,0
4519,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
4520,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0

In [22]:
# Dados para realizar a normalização dos dados númericos
dados_numericos = dados[col_nun]

normalizador = preprocessing.MinMaxScaler()
dados_normalizados = normalizador.fit_transform(dados_numericos)
dados_normalizados

array([[0.16176471, 0.06845546, 0.6       , ..., 0.        , 0.        ,
        0.        ],
       [0.20588235, 0.10875022, 0.33333333, ..., 0.        , 0.38990826,
        0.16      ],
       [0.23529412, 0.06258976, 0.5       , ..., 0.        , 0.37958716,
        0.04      ],
       ...,
       [0.55882353, 0.04842888, 0.6       , ..., 0.20408163, 0.        ,
        0.        ],
       [0.13235294, 0.05973074, 0.16666667, ..., 0.06122449, 0.24311927,
        0.12      ],
       [0.36764706, 0.05971732, 0.06666667, ..., 0.02040816, 0.28669725,
        0.28      ]])

In [23]:
# Juntar todos os dados
dados_finais = pd.DataFrame(dados_normalizados, columns = dados_numericos.columns)
dados_finais = dados_finais.join(dados_categorias_norm, how='left')

dados_finais.to_csv('dados_normalizados_final.csv', index=False, sep = ';')
dump(dados_normalizados, open('BankMinMaxScalerModel.pkl', 'wb'))